@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

.container-banner {
  min-height: 80vh;
  padding: 2.5em 5em;
  background-repeat: no-repeat;
  background-image: url("./images/bg-pattern-intro-desktop.svg"),
    linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-position: 0px;
  background-size: 1900px;
  border-radius: 0px 0px 0px 70px;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

.container-navbar {
  display: flex;
  justify-content: space-between;
}
.responsive-menu {
  display: none;
}

.left-items-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

.container-items-navbar {
  display: flex;
  justify-content: space-between;
  width: 60%;
  font-weight: 500;
}

.item-navbar-container {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  cursor: pointer;
}

.item-navbar {
  margin: 0px 5px;
}

.item-navbar:hover {
  text-decoration: underline;
}

.right-items-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}

.sign-up-btn {
  padding: 0.8em 2em;
  border-style: none;
  border-radius: 25px;
  color: hsl(356, 100%, 66%);
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

.sign-up-btn:hover,
#start-free:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.226);
  cursor: pointer;
  transition: 10ms;
}

.text-container-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.title-banner {
  font-size: 3.2em;
  font-weight: 700;
  font-family: "Overpass", sans-serif;
  letter-spacing: -2px;
}

.description-banner {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 10px 0px;
}

.btn-banner {
  border-style: none;
  padding: 1em 2em;
  border-radius: 25px;
  margin: 0px 5px;
}

#start-free {
  color: hsl(356, 100%, 66%);
  font-weight: 600;
}

#learn-more {
  background-color: transparent;
  border: 2px solid white;
  font-weight: 600;
  color: white;
}

#learn-more:hover {
  background-color: white;
  color: hsl(356, 100%, 66%);
  cursor: pointer;
}

.button-menu {
  border-style: none;
  background-color: transparent;
  padding: 10px;
}

.menu {
  display: none;
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  color: black;
  width: 170px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 1px 24px -11px rgba(0, 0, 0, 1);
  position: absolute;
  left: 400px;
  transition: all 3s;
}

.menu-list-container {
  list-style: none;
  cursor: pointer;
}

.menu-list-container li {
  margin: 15px 0px;
}
.menu-list-container li:hover {
  font-weight: 800;
}

.menu-responsive-container {
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 5px;
  height: 82vh;
  width: 80%;
  position: absolute;
  box-shadow: 0px 1px 24px -11px rgba(0, 0, 0, 1);
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
  z-index: 2;
}

.menu-respinsive-links-list {
  list-style: none;
  width: 90%;
}

.menu-responsive-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-size: 1.3em;
  margin: 25px auto;
  color: hsl(208, 49%, 24%);
  text-align: center;
}

.menu-responsive-link img {
  width: 15px;
  margin: 0px 10px;
}

.menu-connect-responsive {
  background-color: rgba(52, 49, 49, 0.107);
  border-radius: 5px;
  display: none;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140px;
  color: hsl(207, 13%, 34%);
  font-size: 1.2em;
  font-weight: 500;
}

.menu-list-container-responsive {
  list-style: none;
}

.menu-list-container-responsive li {
  margin: 15px 0px;
  text-align: center;
}

#bnt-login-responsive {
  font-size: 1.3em;
  color: hsl(208, 49%, 24%);
  font-weight: 500;
}

#btn-sing-up-responsive {
  padding: 15px 20px;
  width: 150px;
  border-radius: 50px;
  background: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  margin: 15px auto;
}

hr {
  width: 90%;
  height: 0.1em;
  margin: 25px 0px;
}

.show {
  display: flex;
}

.dont-show {
  display: none;
}

.img-rotate {
  transform: rotate(180deg)
}
@media (max-width: 600px) {
  .container-banner {
    height: 70vh;
    padding: 2em;
    background-image: url("./images/bg-pattern-intro-desktop.svg"),
      linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-size: 350%;
    background-position: -300px;
  }
  .container-items-navbar {
    display: none;
  }
  .right-items-navbar {
    display: none;
  }
  .responsive-menu {
    display: block;
  }
  .title-banner {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    margin: 10px 0px;
  }
  .btns-container-banner {
    display: flex;
  }
  .btn-banner {
    padding: 1em;
  }
}

.container-for-future {
  color: hsl(208, 49%, 24%);
  min-height: 100vh;
  padding: 5em 0em;

  font-family: "Overpass", sans-serif;
}
.body-future-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.img-future-box {
  background-image: url(./images/illustration-editor-desktop.svg);
  background-size: 500px;
  background-repeat: no-repeat;
  height: 90vh;
  width: 1000px;
}
.text-container-for-future {
  margin: 40px 0px;
  padding: 0px 8em;
}

.title-for-future {
  font-size: 1.5em;
  text-align: center;
  position: relative;
  top: 50px;
}

.title-text-future {
  margin: 15px 0px;
  font-size: 1.2em;
}

.paragraph-text-future {
  font-size: 0.9em;
  color: hsl(208, 49%, 24%);
  width: 90%;
}

@media (max-width: 600px) {
  .container-for-future {
    padding: 4em 1em 10em 1em;
    background-size: 300px;
    background-position-x: 0px;
    background-position-y: center;
  }
  .img-future-box {
    background-image: url(./images/illustration-editor-mobile.svg);
    background-size: 300px;
    background-repeat: no-repeat;
    height: 250px;
    width: 300px;
    margin: 15px 0px;
  }
  .body-future-container {
    flex-direction: column;
  }
  .text-container-for-future {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0;
  }
  .title-for-future {
    top: 0px;
  }
}

.art-instrastructure-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: hsl(237, 17%, 21%);
  height: 50vh;
  border-radius: 0px 40px 0px 40px;
  background-image: url(./images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position-x: -170px;
  background-position-y: -400px;
  background-size: 800px;
  padding: 0em 5em;
}

.art-infrastructure-text-box {
  color: white;
  font-family: "Overpass", sans-serif;
  width: 55%;
}

.img-art-infrastructure-box {
  width: 400px;
  margin-top: 35px;
}

.art-infrastructure-text {
  width: 75%;
  font-size: 0.9em;
}

.art-infrastructure-title {
  font-size: 2em;
  margin: 15px 0px;
}

@media (max-width: 600px) {
  .art-instrastructure-container {
    flex-direction: column;
    height: 90vh;
    padding: 0em;
    background-size: 500px;
    background-position-x: -90px;
    background-position-y: -250px;
  }
  .img-art-infrastructure-box {
    width: 300px;
    position: absolute;
    top: 1250px;
  }
  .art-infrastructure-title {
    text-align: center;
    font-size: 1.8em;
  }
  .art-infrastructure-text-box {
    width: 80%;
    margin: 0px auto;
    position: relative;
    top: 200px;
    text-align: center;
  }
  .art-infrastructure-text {
    width: 100%;
  }
}

.container-computer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.computer-text-box {
  width: 70%;
}

.img-computer-box {
  width: 700px;
  position: relative;
  left: -155px;
}

.computer-text-container {
  font-family: "Overpass", sans-serif;
  color: hsl(208, 49%, 24%);
  margin: 50px 0px;
}

.computer-title {
  font-size: 1.3em;
  margin: 15px 0px;
}

.computer-text {
  font-size: 0.9em;
  width: 60%;
}

@media (max-width: 600px) {
  .container-computer {
    flex-direction: column;
    padding: 1em 0em 3em 0em;
  }
  .computer-text-box {
    width: 90%;
    text-align: center;
    margin: -10px auto;
  }
  .computer-text {
    width: 100%;
  }
  .img-computer-box {
    height: 250px;
    background-image: url(./images/illustration-laptop-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    width: 300px;
  }
  .computer-text-container {
    margin: 30px 0px;
  }
}

.footer-container {
  min-height: 60vh;
  background-color: hsl(240, 10%, 16%);
  color: hsl(240, 2%, 79%);
  display: flex;
  padding: 4em 7em;
  border-radius: 0px 65px 0px 0px;
  font-family: "Overpass", sans-serif;
}
.container-img-footer {
  width: 25%;
}
.img-footer-container {
  width: 100px;
}
.container-list-footer {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.title-list-footer {
  font-weight: 700;
  margin-bottom: 30px;
}

.item-list-footer {
  font-weight: 400;
  margin: 10px 0px;
}

.item-list-footer:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
  }
  .container-list-footer {
    flex-direction: column;
    margin-top: 15px;
  }
  .list-footer-container {
    margin: 15px;
  }
}
